In [1]:
# importations
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('fivethirtyeight')
df=pd.read_csv('Sample - Superstore.csv')
# encoding='utf-8'

df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [3]:
# produce summary statistics
# df.info()
# df.describe()
df.groupby('State').Sales.agg(['sum','mean','min','max','count','median','std','var']).head()
# df.groupby('City').Profit.agg(['sum','mean','min','max','count','median','std','var'])
# df.isnull().sum()

,sum,mean,min,max,count,median,std,var
State,,,,,,,,
Alabama,19510.6400,319.846557,3.620,3040.000,61,70.980,545.761807,297855.950380
Arizona,35282.0010,157.508933,1.408,1879.960,224,61.512,249.710692,62355.429472
Arkansas,11678.1300,194.635500,4.300,1793.980,60,54.420,316.405669,100112.547642
California,457687.6315,228.729451,0.990,8187.650,2001,61.020,491.005264,241086.168821
Colorado,32108.1180,176.418231,1.080,2549.985,182,51.016,324.415072,105245.139165

In [4]:
# visualizations
#Boxplot 
# fig, axs = plt.subplots(4,1) 
# fig.set_size_inches(9,15) 
# sns.boxplot(data= df['Sales'],ax=axs[0]) 
# axs[0].set_title('Sales')                         
# sns.boxplot(data=df['Quantity'],ax=axs[1])
# axs[1].set_title('Quantity')
# sns.boxplot(data=df['Profit'],ax=axs[2])
# axs[2].set_title('Profit')
# sns.boxplot(data=df['Discount'],ax=axs[3])
# axs[3].set_title('Discount')
# plt.show()

# frequency table

In [5]:
# histogram to show distribution of Shipmode
# frequency of an occurence

# sns.set_style('whitegrid')
# sns.histplot(x=df['Ship Mode'],bins=10,data=df,binwidth=3,shrink=0.6,hue='Segment')
# plt.show()

In [6]:
# sns.histplot(x=df['Quantity'],data=df,kde=True,hue='Ship Mode',stat='density')
# plt.show()

In [7]:
# sns.histplot(x=df['Ship Mode'],bins=10,data=df,shrink=0.6,hue='Segment',palette=['Black','Blue','orange'])
# plt.show()

# sns.displot(x=df['Quantity'],data=df,col='Ship Mode',kde=True,lw=0.8,common_norm=False)
# plt.show()

In [8]:
sns.histplot(x=df['Segment'],bins=10,data=df,shrink=0.8,color='blue')
plt.title('Segment')
plt.xlabel('Segment')
plt.ylabel('count')
plt.show()

NameError: name 'sns' is not defined

In [ ]:
sns.countplot(x=df['City'],data=df['City'].head(20))
plt.title('Cities')

In [ ]:
# plt.show()
# sns.histplot(x=df['Sales'],bins=10,shrink=0.8)
# plt.title('Sales')
# plt.show()

In [ ]:
# the distribution is non normal
# sns.histplot(x=df['Quantity'],bins=10,kde=True,stat='density')
# plt.title('Quantity')
# plt.show()

In [ ]:

# sns.displot(x=df['Quantity'],kind='kde',lw=0.8)
# plt.title('Quantity')
# plt.show()

In [ ]:
# sns.histplot(x=df['Discount'],bins=10)
# plt.title('Discount')
# plt.show()

In [ ]:
# sns.histplot(df['Profit'],bins=10)
# plt.title('Profit')
# plt.show()

In [ ]:
# Boxplots
# df.plot(kind='box',subplots=True,layout=(4,3),sharex=False,sharey=False)
# plt.rcParams['figure.figsize']=[18,16]
# plt.show()

In [ ]:
df.hist(bins=30,figsize=(18,16),alpha=0.8)
plt.show()

In [ ]:
# sns.pairplot(df,hue='Ship Mode')
# plt.show()

sns.pairplot(df,hue='Category')
plt.show()

# used to understand the best set of features to explain a relationship btw two variables or to form the most separated clusters
# enhance understanding with a single plot

In [ ]:
df['Ship Mode'].unique()
# distributions of the ship mode
df['Ship Mode'].value_counts()

In [ ]:
# subsed based on quantity and city
a=df[['Quantity','City']]
a
# Distribution of quantity across the cities
# df[['Quantity','City']].value_counts()

In [ ]:
# Distribution of sales
df.groupby(['City','Quantity'],as_index=False)['Sales'].sum()

In [ ]:
# unique ststes
df['City'].unique()
len(df['City'].unique())

In [ ]:
sales_cities=df.groupby(['City'])['Sales',].agg(['sum']).head(20)
sales_cities.plot.bar(title='Distribution of sales per city',figsize=(15,12))
plt.xticks(rotation=45,ha='right')
plt.rcParams['figure.figsize']=[15,12]
plt.show(block=True)

In [ ]:
sales_cities=df.groupby(['Quantity'])['Sales',].agg(['sum'])
set(sales_cities)

# sales_cities.plot(kind='bar',title='Distribution of sales per city',figsize=(30,28))

sales_cities.plot.bar(title='Distribution of sales per city',figsize=(15,12))
plt.xticks(rotation=45,ha='right')
plt.rcParams['figure.figsize']=[15,12]
plt.show(block=True)

In [ ]:
City_sales = {}
city_sales =df[['City','Sales']]
for i in city_sales.City.unique():
    City_sales[i] = [df['Sales'][v] for v in df[df["City"] == i].index]
Total_sales ={}
for key, value in City_sales.items():
    Total_sales[key] = sum(value)
sale_T = Total_sales.items()
Sorted_sales = sorted(sale_T, key=lambda x: x[1], reverse = True)
#There exist 531 cities taking a set of top 30 cities
top_30_cities = Sorted_sales[0:30]

x = dict(top_30_cities).keys()
x_labels = np.arange(0,30)
y = dict(top_30_cities).values()

sns.barplot(x=x_labels,y=y,data=df)
# sns.set_style('darkgrid')
plt.legend(ncol=3)
plt.show()
# sale_T = Total_sales.items()
# Sorted_sales = sorted(sale_T, key=lambdaÂ x:Â x[0])

In [ ]:
# plt.figure(figsize=(15,12))
# sns.countplot(x=df['State'])
# plt.xticks(rotation=90)
# plt.show()
sales_cities=df.groupby(['City','Quantity'])['Sales',].agg(['sum']).head(20)


# sales_cities.plot(kind='bar',title='Distribution of sales per city',figsize=(30,28))

sales_cities.plot.bar(title='Distribution of sales per city',figsize=(15,12))
plt.xticks(rotation=45,ha='right')
plt.rcParams['figure.figsize']=[15,12]
plt.show(block=True)

In [ ]:
sales_cities=df.groupby(['City','Quantity']),['Sales'].agg(['sum']).head(50)
# sales_cities.unique()
# sales_cities.plot(kind='bar',title='Distribution of sales per city',figsize=(30,28))
# plt.show()

In [ ]:
plt.figure(figsize=(20,8))
sns.countplot(x=df['City'],order=(df['City'].value_counts().head(15)).index,palette='Dark2')
plt.xticks(rotation=45)

In [2]:
Corr=df[['Sales','Quantity','Discount','Profit']]
Corr

         Sales  Quantity  Discount    Profit
0     261.9600         2      0.00   41.9136
1     731.9400         3      0.00  219.5820
2      14.6200         2      0.00    6.8714
3     957.5775         5      0.45 -383.0310
4      22.3680         2      0.20    2.5164
...        ...       ...       ...       ...
9989   25.2480         3      0.20    4.1028
9990   91.9600         2      0.00   15.6332
9991  258.5760         2      0.20   19.3932
9992   29.6000         4      0.00   13.3200
9993  243.1600         2      0.00   72.9480

[9994 rows x 4 columns]

In [3]:
Corr.corr()

             Sales  Quantity  Discount    Profit
Sales     1.000000  0.200795 -0.028190  0.479064
Quantity  0.200795  1.000000  0.008623  0.066253
Discount -0.028190  0.008623  1.000000 -0.219487
Profit    0.479064  0.066253 -0.219487  1.000000

In [4]:
# Explore correlations
# a=df['Sales'].corr(df['Quantity'])

df[['Sales','Quantity','Discount','Profit']].corr()

# profit-moderate negative correlation
# discount-negligible correlation/no corrrelation
# quantity no correlation

             Sales  Quantity  Discount    Profit
Sales     1.000000  0.200795 -0.028190  0.479064
Quantity  0.200795  1.000000  0.008623  0.066253
Discount -0.028190  0.008623  1.000000 -0.219487
Profit    0.479064  0.066253 -0.219487  1.000000

In [ ]:
sns.heatmap(Corr,cmap='coolwarm',vmin=-1,vmax=1,annot=True,square=True,
           annot_kws={'fontsize':11,'fontweight':'bold'})
# coolwarmRDBu
plt.show()

In [ ]:
a=df['Sales'].corr(df['Quantity'])
a
plt.scatter(x='Sales',y='Quantity',data=df)
plt.title('Quantity vs. Sales')
plt.xlabel('Sales')
plt.ylabel('Quantity')
plt.show()

In [ ]:
plt.scatter(x='Sales',y='Discount',data=df)
plt.title('Discount vs. Sales')
plt.xlabel('Sales')
plt.ylabel('Discount')
plt.show()

In [ ]:
plt.scatter(x='Sales',y='Profit',data=df,color='purple')
plt.title('Profit vs. Sales')
plt.xlabel('Sales')
plt.ylabel('Profit')
plt.show()

In [ ]:
# sns.scatterplot(df)
# plt.show()

Feature engineering

In [ ]:
# Data clensing
# identifying missing values
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())
plt.show()

In [ ]:
df.dropna(inplace=True)

In [ ]:
# features have correct datatypes
df.dtypes
df['Order Date']=pd.to_datetime(df['Order Date'])

In [ ]:
df['Ship Date']=pd.to_datetime(df['Ship Date'])

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
# any duplicated columns
df.columns.duplicated()

In [ ]:
# any duplicates in the rows
df.duplicated().sum()

In [ ]:
# dropping duplicates in our columns
df.drop_duplicates()

In [ ]:
df

In [ ]:


#Extreacting the columns 'Ship Mode', 'Segment','City','Sales','Quantity','Discount' and 'Profit' from the main file
dataSubset = df[['Ship Mode', 'Segment','City','Sales','Quantity','Discount', 'Profit']]
# the first 15 records from the datasubset
dataSubset.head(10)

# dataSubset.describe()

# Quantity_sales subset
Quant_sales = {}
Quantity_sales =dataSubset[['Quantity','Sales']]
for i in Quantity_sales.Quantity.unique():
    Quant_sales[i] = [dataSubset['Sales'][v] for v in dataSubset[dataSubset["Quantity"] == i].index]

# Total_sales ={}
# for key, value in Quant_sales.items():
#     Total_sales[key] = sum(value)

# sale_T = Total_sales.items()
# Sorted_sales = sorted(sale_T, key=lambda x: x[0])
# x = dict(Sorted_sales).keys()
# y = dict(Sorted_sales).values()
# x1=np.arange(0,15,1)+1

# fig, ax = plt.subplots()
# ax.bar(x,y)
# ax.set_ylabel('Total sales')
# ax.set_xlabel('Quantity levels')
# # ax.set_xticklabels(np.arange(0,15,1)+1)
# ax.set_title('Sales distribution per quantity');

# City_sales = {}
# city_sales =dataSubset[['City','Sales']]
# for i in city_sales.City.unique():
#     City_sales[i] = [dataSubset['Sales'][v] for v in dataSubset[dataSubset["City"] == i].index]

# Total_sales ={}
# for key, value in City_sales.items():
#     Total_sales[key] = sum(value)

# sale_T = Total_sales.items()
# Sorted_sales = sorted(sale_T, key=lambda x: x[1], reverse = True)
# #There exist 531 cities taking a set of top 30 cities
# top_30_cities = Sorted_sales[0:30]

# x = dict(top_30_cities).keys()
# x_labels = np.arange(0,30)
# y = dict(top_30_cities).values()

# SaleCity = sns.barplot(x=x_labels,y=y, hue = x)
# sns.set_style('darkgrid')
# plt.legend(ncol=3);

In [ ]:
# Quantity_sales subset
Quant_sales = {}
Quantity_sales =dataSubset[['Quantity','Sales']]
for i in Quantity_sales.Quantity.unique():
    Quant_sales[i] = [dataSubset['Sales'][v] for v in dataSubset[dataSubset["Quantity"] == i].index]

Total_sales ={}
for key, value in Quant_sales.items():
    Total_sales[key] = sum(value)

sale_T = Total_sales.items()
Sorted_sales = sorted(sale_T, key=lambda x: x[0])
x = dict(Sorted_sales).keys()
y = dict(Sorted_sales).values()


fig, ax = plt.subplots()
ax.bar(x,y)
ax.set_ylabel('Total sales')
ax.set_xlabel('Quantity levels')
# ax.set_xticklabels(np.arange(0,15,1)+1)
ax.set_title('Sales distribution per quantity');

In [ ]:
# City_sales distribution
City_sales = {}
city_sales =dataSubset[['City','Sales']]
for i in city_sales.City.unique():
    City_sales[i] = [dataSubset['Sales'][v] for v in dataSubset[dataSubset["City"] == i].index]

Total_sales ={}
for key, value in City_sales.items():
    Total_sales[key] = sum(value)

sale_C = Total_sales.items()
Sorted_sales = sorted(sale_C, key=lambda x: x[1], reverse = True)
#There exist 531 cities taking a set of top 30 cities
top_30_cities = Sorted_sales[0:30]


x = dict(top_30_cities).keys()
x_labels = np.arange(0,30)
y = dict(top_30_cities).values()

SaleCity = sns.barplot(x=x_labels,y=y, hue = x)
plt.legend(ncol=3);